body {
  /* background-color: #121212;
  color: whitesmoke;
  font-family: sans-serif; */
  line-height: 1.6;
  margin: 20px;
  text-align: justify;
}

.nosotros, h1,
h2 {
  font-weight: bold;
  margin-top: 3rem;
}
.container_nosotros {
  max-width: 960px; /* Ancho máximo para pantallas grandes */
  margin: 0 auto;
}

img {
  max-width: 300px;
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

/* Media Query para pantallas más pequeñas (ejemplo: tablets y móviles) */
@media (max-width: 768px) {
  .container {
    max-width: 100%; /* El contenedor ocupa todo el ancho */
    padding: 10px; /* Añade un poco de padding */
  }
  img {
    max-width: 100%; /* La imagen ocupa todo el ancho */
    float: none; /* Elimina el float */
    margin: 0 auto 20px; /* Centra la imagen y añade margen inferior */
    display: block; /* Para que margin: 0 auto funcione */
  }
}
/* Media Query para pantallas aún más pequeñas (ejemplo: móviles pequeños) */
@media (max-width: 480px) {
  body {
    font-size: 18px; /* Reduce el tamaño de la fuente */
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 2em;
  }
}